@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<style>
    table{
        width: 100%;
        margin: 10px 10px;
    }
    td a{
        color: black;
    }
</style>

<div class="d-flex justify-content-center">
<table class="table table-hover">
  <tr>
      <td>#</td>
      <td>Name</td>
      <td>Email</td>
      <td>Subject</td>
  </tr>
    @foreach(Message message in @ViewBag.Messages)
    {
        <tr>
            <td>@message.Id</td>
            <td>@message.Name</td>
            <td>@message.Email</td>
            <td>@message.Subject</td>
        </tr>
    }
</table>
</div>